#space{
   padding-right: 5rem;
   padding-left: 5rem;
}

#tree-img{
   display: flex; 
   justify-content: center; 

}
.nav{
   display: flex;
   overflow: hidden;
   justify-content: space-around;
   height: auto;
   background-color: rgb(74, 134, 74);
}
.nav a {
   color: white;                  
   text-decoration: none;         
   padding: 14px 15px;            
   display: inline-block;         
   font-size: 16px;               
}
.nav a:hover {
   background-color: rgb(112,182,112);     
   border-radius: 4px;            
}
.greenborder {
    border: 5px solid rgb(57, 104, 70); /* Adds a black border of 2 pixels */
    background: rgb(150, 191, 150);
    margin: 25px; /* Optional: Adds space inside the border */
    border-radius: 15px; /* Rounds the corners */
}

p{
    color: white;
    font-size: x-large;
    margin: 30px 30px; /* Optional: Adds space above and below each paragraph */
    text-align: left;
 }

#num1{
   color: rgb(0, 0, 0);
   
   margin: 30px 30px; /* Optional: Adds space above and below each paragraph */
   text-align: center;
}

#num2{
   color: white;
   background:  rgb(150, 191, 150);
   margin: 30px 30px; /* Optional: Adds space above and below each paragraph */
   text-align: center;
   border-radius: 10px;
}


 h1{
    text-align: center;
    color:rgb(150, 191, 159);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
                -1px -1px 0 rgb(57, 104, 70),
                1px -1px 0 rgb(57, 104, 70),
                -1px 1px 0 rgb(57, 104, 70),
                1px 1px 0 rgb(57, 104, 70); /* Create an outline */
    font-size: 500%;
    Margin: 60px 0px;
 }

 h2{
   background:rgb(150, 191, 159);
   border-radius: 50px;
 }

 h3{
   text-align: center;
    color:rgb(150, 191, 159);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
                -1px -1px 0 rgb(57, 104, 70),
                1px -1px 0 rgb(57, 104, 70),
                -1px 1px 0 rgb(57, 104, 70),
                1px 1px 0 rgb(57, 104, 70); /* Create an outline */
    font-size: 500%;
    Margin: 60px 0px;
 }

 #img1 {
    width: 200px;
    height: auto;
    max-height: 65%;
    border-radius: 50%; /* Makes the image circular */
    object-fit:contain; /* Ensures the image fits within the circle without distortion */
    margin-bottom: 15px;
}

#reg {
   width: 300px;
   height: auto;
   max-height: 65%;
   display: block;
   margin: 0 auto;
   border-radius: 50%; /* Makes the image circular */
   object-fit:contain; /* Ensures the image fits within the circle without distortion */
}

#btn{
   display: flex;
   justify-content: center;
   background-color: rgb(112, 182, 112);
   color: white;
   cursor: pointer;
   border-width: 0px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 10px;
   margin-bottom: 200px;
}
#btn:hover {
   background-color: rgb(48, 122, 48);
}

#btn1{
   background-color: rgb(112, 182, 112);
   color: white;
   cursor: pointer;
   border-width: 0px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 10px;
   margin-bottom: 200px;
}

#btn1:hover {
   background-color: rgb(48, 122, 48);
}


.image {
   float: right; /* Move image to the left side */
   margin-right: 150px; /* Add some space between the image and the text */
   width: 300px; /* Adjust image size */
   margin-top: 50px;
}
.text-group {
   overflow: hidden; /* Ensure text flows properly around the image */
}

.colom{
   border: 1px solid #555;
   border-radius: 15px;
   padding: 0.5rem;
}