#div1{
   display: flex; 
   justify-content: center; 

}
.greenborder {
    border: 5px solid rgb(57, 104, 70); /* Adds a black border of 2 pixels */
    background: rgb(150, 191, 150);
    margin: 25px; /* Optional: Adds space inside the border */
    padding: 50px 50px; /* Optional: Adds space above and below each paragraph */
    border-radius: 15px; /* Rounds the corners */
 }

 p{
    color: white;
    font-size: x-large;
    padding: 25px; /* Optional: Adds space inside the border */
    margin: 30px 50px; /* Optional: Adds space above and below each paragraph */
 }

 h1{
    text-align: center;
    color:rgb(150, 191, 159);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
                -1px -1px 0 rgb(57, 104, 70),
                1px -1px 0 rgb(57, 104, 70),
                -1px 1px 0 rgb(57, 104, 70),
                1px 1px 0 rgb(57, 104, 70); /* Create an outline */
    font-size: 500%;
    Margin: 75px 50px;
 }

 #img1 {
    width: 200px;
    height: auto;
    max-height: 75%;
 }