.nav{
    display: flex;
    justify-content: space-around;
    height: auto 20px;
    background-color: rgb(74, 134, 74);
}
.nav a {
    color: white;                  
    text-decoration: none;         
    padding: 14px 20px;            
    display: inline-block;         
    font-size: 16px;               
}
.nav a:hover {
    background-color: rgb(112,182,112);     
    border-radius: 4px;            
}


.intro-to-budgeting-container{
    padding-top: 70px;
    text-align: 10px;

}