/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', monospace;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
  
}

h3 {
  font-size: 5rem;
  text-transform: capitalize;
  text-align: center;
  color: rgb(15, 138, 15);
  border-bottom: 6px solid rgb(5, 118, 35);
  background-color: rgb(180, 249, 160);
  font-family: 'Courier New', monospace;
}




nav {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  height: auto;
  background: rgb(74, 134, 74);
  font-family: 'Courier New', monospace;
}

.nav-links a {
    
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    background-color: rgb(112,182,112); 
    color: black;

}

.nav-links a.active{
    background-color: aquamarine;
    color: white;
}




section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
.section-container {
    display: flex;
  }







.image{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;

  filter: blur(5px);
  -webkit-filter: blur(2px);
  


}

.container {
  position: relative;
  text-align: center;
  color: rgb(30, 144, 15);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  font-family: 'Courier New', monospace;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;    /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}







#image-container{
  width: 45%;
  height: auto;
  max-height: 75%;
  border: 10px solid white;
  border-radius: 15px;
}

#budgeting{
  border-width: 1px;
  border: 2px solid #0c6614;  
  padding: 20px;           
  margin: 50px;           
  background-color:  rgb(255,255,255);  
  border-radius: 5px;
}


#understandingcredit{
  border-width: 1px;
  border: 2px solid #0c6614;  
  padding: 20px;           
  margin: 50px;           
  background-color:  rgb(255,255,255);  
  border-radius: 5px;
}

#why{
  border-width: 1px;
  border: 2px solid #0c6614;  
  padding: 20px;           
  margin: 50px;           
  background-color:  rgb(255,255,255);  
  border-radius: 5px;
}


.image1{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;

  filter: blur(5px);
  -webkit-filter: blur(2px);

}

.container1 {
  position: relative;
  text-align: center;
  color: rgb(30, 144, 15);
}

#image-container1{
  width: 15%;
  height: auto;
  max-height: 25%;
  border: 10px solid white;
  border-radius: 15px;
}