body{
    background-color: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    
}

p{
    text-align: center;
    font-style: italic;
    color: rgb(39, 94, 184);
}


#budg-btn {
    background-color: rgb(112, 182, 112);
    color: white;
    cursor: pointer;
    border-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

#fonts{
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: rgb(32, 96, 32);
}

#colored{
    background-color: rgb(109, 165, 110);
    color: wheat;
}