body{
    background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    color:rgb(150, 191, 159);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
                -1px -1px 0 rgb(57, 104, 70),
                1px -1px 0 rgb(57, 104, 70),
                -1px 1px 0 rgb(57, 104, 70),
                1px 1px 0 rgb(57, 104, 70); /* Create an outline */
    font-size: 500%;
    Margin: 60px 0px;}

p{
    text-align: center;
    font-style: italic;
    color: rgb(39, 94, 184);
}


#budg-btn {
    background-color: rgb(112, 182, 112);
    color: white;
    cursor: pointer;
    border-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

#fonts{
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: rgb(32, 96, 32);
}

#colored{
    background-color: rgb(109, 165, 110);
    color: wheat;
}